projekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="football">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="myFavoriteClubs"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="clubType">
        <xs:sequence>
            <xs:element name="fullTeamName" type="xs:string"/>
            <xs:element name="stadium">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="capacity" type="xs:integer" use="required"/>
                            <xs:attribute name="location" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="country">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z][a-z]*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="league">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="level" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                        <xs:enumeration value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="clubWebsite" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
            <xs:element name="contact" type="contactType" minOccurs="1" maxOccurs="1"/>

            <xs:element name="rivalClubs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rivalClub" type="xs:string" minOccurs="1" maxOccurs="2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="myFavoritePlayers" type="myFavoritePlayersType"/>
            <xs:element name="additionalInfo" type="additionalInfoType"/>
            
            <xs:element name="clubLegends">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="bestGoalScorer" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                 <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute ref="amount"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="bestAssistant" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                 <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute ref="amount"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="bestGoalkeeper" type="bestGoalkeeperExtendedType"/>
                        <xs:element name="others" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:list itemType="playerNameType"/>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attributeGroup ref="clubInfo"/>
    </xs:complexType>

    <xs:complexType name="bestGoalkeeperType">
        <xs:sequence>
            <xs:element name="goalkeeperName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bestGoalkeeperExtendedType">
        <xs:complexContent>
            <xs:extension base="bestGoalkeeperType">
                <xs:sequence>
                    <xs:element name="savePercentage" type="xs:decimal"/>
                    <xs:element name="cleanSheets" type="xs:integer"/>
                  </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="playerNameType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Zidane"/>
            <xs:enumeration value="Raul"/>
            <xs:enumeration value="Beckham"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="amount">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="\d{1,3}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value=".+@.+\..+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="phoneNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\+\d{2}\s\d{9}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    

    <xs:complexType name="additionalInfoType">
        <xs:sequence>
            <xs:element name="ranking" type="rankingType"/>
            <xs:element name="yearFounded" type="xs:gYear"/>
            <xs:element name="manager">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[A-Z][a-z]+(\s[A-Z][a-z]+)*"/>
                    </xs:restriction>    
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="myFavoritePlayersType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="captain"/>
            <xs:element name="player" type="playerType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="playerType">
        <xs:group ref="PlayerInfo"/>
        <xs:attribute name="id" type="xs:positiveInteger"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="position" type="shortString"/>
        <xs:attribute name="age" type="ageType"/>
    </xs:complexType>


    <xs:complexType name="statisticsType">
        <xs:sequence>
            <xs:element name="numberOfMatches">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:positiveInteger">
                            <xs:attribute name="wasInjured" type="injuredType"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="goals" type="amountOfType"/>
            <xs:element name="assists" type="amountOfType"/>
            <xs:element name="cardPenalties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="redCards" type="amountOfType"/>
                        <xs:element name="yellowCards" type="amountOfType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="season" type="xs:string" use="required"/>
    </xs:complexType>


    <xs:element name="myFavoriteClubs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="club" type="clubType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="captain">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="player" type="playerType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="clubInfo">
        <xs:attribute name="TeamID" type="xs:integer" use="required"/>
        <xs:attribute name="name" type="longString" use="required"/>
    </xs:attributeGroup>

    <xs:group name="PlayerInfo">
        <xs:sequence>
            <xs:element name="nationality" type="shortString"/>
            <xs:element name="shirtNumber" type="shirtNumberType"/>
            <xs:element name="gender" type="genderType"/>
            <xs:element name="statistics" type="statisticsType"/>
            <xs:element name="image">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="source" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="playerInfo" type="xs:anyURI"/>
        </xs:sequence>
    </xs:group>

    <xs:simpleType name="rankingType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1st"/>
                    <xs:enumeration value="2nd"/>
                    <xs:enumeration value="3rd"/>
                    <xs:enumeration value="4th"/>
                    <xs:enumeration value="5th"/>
                    <xs:enumeration value="6th"/>
                    <xs:enumeration value="7th"/>
                    <xs:enumeration value="8th"/>
                    <xs:enumeration value="9th"/>
                    <xs:enumeration value="10th"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:positiveInteger">
                    <xs:maxInclusive value="12"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="genderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="amountOfType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-8][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="shortString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="longString">
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="shirtNumberType">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="1"/>
            <xs:maxExclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="injuredType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="no-data"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ageType">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="18"/>
            <xs:maxExclusive value="50"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
